*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    overflow-x: hidden;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/BG2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


 }


.container{
    padding: 10px 0%;
}
.container-rest{
    padding: 10px 10%;
}

nav{
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    
    
}
nav.scrolled{
    background-color: #080808;
    box-shadow: 0 3px 10px rgba(0, 0, 0.15);
    z-index: 1000S;
   
    
}
.logo{
    width: 140px;
    scale: 1;
    margin-left: 0;
    z-index: 500;
}
nav ul li{
    display: inline-block;  /*horizontal arrangement*/
    list-style: none;
    margin: 10px 20px;
  

}

nav ul li a{
    color: #fff;
    text-decoration: none;  /*to remove underline*/
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8A2BE2; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    padding: 10px 10%;
    font-family: sourcecode;
}
.header-text h1{
    font-size: 100px;
    margin-top: 20px;

}
.header-text h1 span{
    color: #8A2BE2;
}
/*-----About-----------*/
#about{
    padding: 80px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;  /*to adapt into different scrren sizes*/
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;  /*to get round edge picture*/
}

.about-col-2{
    flex-basis: 60%;

} 
.my{
    width: 0;
}
.my:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.sub-tiltle{
     font-size: 60px;
     font-weight: 600;
     color: #8A2BE2
}
.tab-titles{ /*horizontal aarangement*/
    display: flex;
    margin: 20px 0 40px; /* from top,side,down*/
}
.abtme{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:  0;
    height: 3px;
    background: #8A2BE2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 25px 0;
}
.tab-contents ul li span{
    color: #8A2BE2;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;
}

/*------skill-----------*/
.skilllist{
    margin-top: 60px;
    margin-bottom: 60px;
    align-content: center;
    margin-left: 20%;
    margin-right: 10%;
    scale: 1.75;
    
    
    
}
.skill{
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.skill:hover{
    scale: 1;
    transform: translateY(-5px);
    transition: transform 0.5s;

}
/*-------------services---------------------------------*/ 

#Intersts{
    padding: 30px 0;
}
.sub-tiltle{
    color: #8A2BE2;
    text-align: center;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;


}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15 px;
    font-family: monospace;
}
.services-list div a{
    text-decoration: none;
    color: #8A2BE2;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #8A2BE2;
    transform: translateY(-10px);
}
/*---portfolio---*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6) , #8A2BE2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layerh3{
    font-weight: 300;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #8A2BE2;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    
}
.work:hover img{
    transform: scale(1.1); 
}
.work:hover .layer{
    height: 100%;

}

.des{
    font-size: 12px;
}
